@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Hind, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #151515;
}

/* headings and title */

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #fff;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #fff;
}

/* navigation links */

#nav {
    font-size: 150%;
    float: right;
    z-index: 1000;
    margin-right: 150px;
    margin-top: 20px;
}

#nav li {
    list-style-type: none;
    padding: 5px;
    display: inline;
}

#nav a {
    color: #fff;
    text-decoration: none;
}

#nav a:hover {
    background-color: #fff;
    color: #3d3d3d;
}

/* hero image */

#hero-container {
    height: 600px;
    width: 100%;
    position: relative;
    z-index: -1000;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero_image.png) no-repeat bottom; 
    position: relative;
}

#hero-text-one, #hero-text-two, #hero-text-three {
    font-size: 200%;
    color: #fff;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
    
}

#hero-text-one {
    top: 200px;
    right: 150px;
    position: absolute;
}

#hero-text-two {
    top: 300px;
    right: 150px;
    position: absolute;
}

#hero-text-three {
    top: 400px;
    right: 150px;
    position: absolute;
}

/* main section */

#main h2 {
    text-align: left;
    font-size: 300%;
    margin-bottom: 50px;
}

#main img {
    height: 35%;
    width: 20%;
    float: right;
}

#main p {
    width: 70%;
    float: left;
    font-size: 125%;
    margin-left: 50px;
    padding: 25px;
}