@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-weight: 250;
    color: #0b2851;
    font-family: hind, sans-serif;
    background-color: #ffff;

}

/* headings */

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #f2c742;
    margin: 5px;
    text-align: center;
    font-size: 41px;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #f2c742;
    margin: 5px;
    font-size: 36px;
}

/* Styles text on all pages */

.main {
    width: auto;
    font-size: 21px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* navigation links */

#nav {
    font-size: 150%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

#nav li {
    list-style-type: none;
    padding: 5px;
    display: inline;
    flex: 100%;
}

#nav a {
    color: #0b2851;
    text-decoration: none;
}

#nav a:hover {
    background-color: #0b2851;
    color: #f2c742;
}

/* hero image */

#hero-container {
    height: 600px;
    width: 100%;
    position: relative;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero_image.png) no-repeat center; 
    position: relative;
    background-size: cover;
}

#hero-text {
    font-size: 200%;
    color: #f2c742;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
  
}

#hero-text {
    bottom: 25px;
    right: 50px;
    left: 50px;
    position: absolute;
}

/* index h2 style */

.index_h2 {
    text-align: center;
}

/* training options */

#options {
    text-align: center;
    width: auto;
    margin: 5px, 20px, 20px, 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#options span { 
    color: #f2c742;
    padding: 5px;
    margin: 10px;
    font-size: 21px;
    background-color: #0b2851; 
    border-radius: 5%;
}

.welcome_p p {
    text-align: center;
}

/* my qualifications */

#lists {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#list1, #list2, #list3 {
    list-style: none;
    margin: 20px;
    text-align: center;
}

/* pricing section*/

.pricing {
    text-align: center;
}

#prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
}  

.price {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0b2851;
    color: #f2c742;
    margin: 20px;
}

.price p {
    margin-top: 25%;
    margin-top: 25%;
}

.session_includes h3 {
    margin-top: 25px;
    color: #f2c742;
    font-size: 30px;

}

.session_includes ul {
    list-style: none;
}

/* footer */

footer {
    height: 200px;
    background-color: #0b2851;
}

#footer_text {
    color: #f2c742;
    text-align: center;
    font-size: 21px;
}

.social {
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #f2c742;
    margin: 10px;
}

/* training page */

.why_train {
    font-size: 21px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.why_train h2 {
    font-size: 30px;
}

.why_train span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.why_train p {
    padding: 10px;
}

.why_train img {
    width: 300px;
    max-height: 169px;
}

/* contact form */

.formhead p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.formhead {
    width: 80%;
}

#form {
    display: flex;
    justify-content: center;
}

input, textarea{
    padding: 10px;
    margin: 5px;
    border: 2px solid #f2c742;
    border-radius: 10px;
    width: 300px;
    font-family: hind, sans-serif;
    color: #0b2851;
}


#submit:hover {
    background-color: #0b2851;
    color: #f2c742;
}

#submit {
    width: 150px;
    background-color: #f2c742;
    color: #0b2851;
}

#lauren {
    display: block;
    text-align: center;
}

/* Media queries */

/* For large to medium screens 1200px wide and lower */
@media screen and (max-width: 1200px) {
    .responsive_content {
        width: 80%;
        margin: auto;
        align-content: center;
    }

    #options {
        display: flex;
        flex-wrap: wrap;
    }

    .price {
        margin: auto;
    }

    #lists {
        display: flex;
        flex-wrap: wrap;
    }

    .why_train div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* For medium screens from 950px and lower */
