@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Montserrat:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-weight: 250;
    color: #0b2851;
    font-family: hind, sans-serif;
    background-color: #f5f5f5;
    font-size: 90%;
}

/* headings and title */

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #0b2851;
}

h2 {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #0b2851;
}

/* navigation links */

#nav {
    font-size: 150%;
    float: right;
    z-index: 1000;
    margin-right: 150px;
    margin-top: 20px;
}

#nav li {
    list-style-type: none;
    padding: 5px;
    display: inline;
}

#nav a {
    color: #0b2851;
    text-decoration: none;
}

#nav a:hover {
    background-color: #0b2851;
    color: #f2c742;
}

/* hero image */

#hero-container {
    height: 600px;
    width: 100%;
    position: relative;
    z-index: -1000;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/heronew.png) no-repeat bottom; 
    position: relative;
}

#hero-text-one, #hero-text-two, #hero-text-three {
    font-size: 200%;
    color: #0b2851;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    text-decoration: solid;
    
}

#hero-text-one {
    top: 200px;
    right: 150px;
    position: absolute;
}

#hero-text-two {
    top: 300px;
    right: 150px;
    position: absolute;
}

#hero-text-three {
    top: 400px;
    right: 150px;
    position: absolute;
}

/* main section */

h2 {
    margin: 15px;
    text-align: center;
    font-size: 150%;
    text-decoration: underline;
    color: #f2c742;
}

#main, #about, #qualifications {
    width: auto;
    font-size: 150%;
    margin: 30px;
}

#list1 {
    width: auto;
    float: left;
    text-align: left;
    margin-left: 825px;
    margin-right: 10px;
    margin-bottom: 50px;
}

#list2 {
    width: auto;
    float: right;
    text-align: left;
    margin-right: 825px;
    margin-left: 10px;
    margin-bottom: 50px; 
}

#options {
    text-align: center;
    width: 100%;
    margin: 50px;
    display: inline-block;
}

#options span {
    margin: 25px;  
    color: #f2c742;
    padding: 15px;
    font-size: 200%;
    background-color: #0b2851;
    border-radius: 15%;    
}

/* footer */

footer {
    height: 150px;
    background-color: #0b2851;
}

.social {
    text-align: center;
}

.social > li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #f2c742;
    margin: 15px;
    padding: 15px;
}

/* media quries */

/* large to medium screens from 1200px and below */
@media screen and (max-width: 1200px) {
    
}